services:
  fastapi-starter:
    image: ${DOCKER_REG}${DOCKER_REPO}${APP_NAME}:${DOCKER_TAG}
    container_name: ${APP_NAME}
    build:
      context: .
    ports:
      - "${PUBLISH_PORT}:8000"
    env_file:
      - .env
