services:
  fastapi-starter:
    image: ${DOCKER_REG}${DOCKER_REPO}${APP_NAME}:${DOCKER_TAG}
    container_name: ${APP_NAME}
    build:
      context: .
    command: ["fastapi", "dev", "app/main.py", "--port", "8000",  "--host", "0.0.0.0"]
    ports:
      - "${PUBLISH_PORT}:8000"
    volumes:
      - ./app:/code/app  # Mount app directory for hot reload
    environment:
      - RELOAD=1  # Enable hot reload
    env_file:
      - .env